/* #blue {
    background-color: blue
}

#red {
    background-color: Red

}

#green {
    background-color: Green
}

.size {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: -4px;

} */

#middle {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/24/526/333/iron-man-marvel-comics-wallpaper-preview.jpg")
}

