#canvas{
    display: grid;
    grid-template-columns: repeat(200, 3px);
    grid-template-rows: repeat(100, 3px);
    
}

.grid-item{
    height: 2px;
    width: 2px;
    /* border: 1px solid gray; */

}

.colorchooser{
    height: 54px;
    width: 70px;
    border: lightgray solid;
}

body {
    display: flex;
    flex-direction: row;
    border: black solid;
}